<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
    <title>HTML</title>
    <style>
      * {
        font-size: 16px;
        font-family: Consolas, sans-serif;
      }
    </style>
  </head>
  <body>
    <form method="post" action="">
      <p>
          <label>Email : <input type="text" name="email"></label>
      </p>
      <p>
          <label>Team PW : <input type="text" name="pw"></label>
      </p>
          <input type="submit" value="Enter"></p>
    </form>
  </body>
</html>