.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cafe24 Ssurround air;
  font-style: normal;
  font-weight: normal;
}

/* fonts */

@font-face {
  font-family: "Cafe24 Ssurround air";
  src: url("./fonts/Cafe24SsurroundAir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24 Ssurround";
  src: url("./fonts/Cafe24Ssurround.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto bold";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("./fonts/AppleSDGothicNeoL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 4vw;
  }
}

@media screen and (min-width: 769px) {
  html {
    font-size: 1.25rem;
    min-height: 120vh;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  display: none;
}

.full {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullbox {
  position: relative;
  background-color: #fff;
  width: 25rem;
  height: calc(45.78177727784027rem + 0.1124859392575928rem + 60px);
  overflow: hidden;
}

/* sidebar */

.menu-bars {
  background-image: url(./image/burger.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 1.35rem;
  height: 1.26rem;
  right: 2rem;
  top: 1.7rem;
  cursor: pointer;
}

.menu-bars svg {
  opacity: 1;
}

.nav-menu {
  background: #424355;
  /* opacity: 0; */
  width: 19.8125rem;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  right: calc(50% - 12.5rem - 19.8125rem);
  transition: 350ms;
  z-index: 2;
}

.nav-menu.active {
  right: calc(50% - 12.5rem);
  opacity: 1;
  transition: 350ms;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px; */
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0.5rem 0;
  list-style: none;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  /* background-color: #fff; */
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: #424355;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-text span {
  font-family: "Cafe24 Ssurround";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1.5rem;
  letter-spacing: -0.5px;
}

/* welcome-scene */

.welcome-scene {
  background-color: #fff;
  width: 25rem;
  height: 100%;
  /* height: 56rem; */
}

.back-btn img {
  position: absolute;
  width: 3.824521934758155rem;
  height: 2.305961754780652rem;
  left: 0.8998875140607424rem;
  top: 2.81214848143982rem;
  cursor: pointer;
}


.logo-name {
  position: absolute;
  width: 10rem;
  height: 1.1875rem;
  left: calc(50% - 5rem);
  top: 3.487064116985377rem;

  font-family: Apple SD Gothic Neo;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8998875140607424rem;
  line-height: 1.1875rem;
  text-align: center;

  /* indego */

  color: #424355;
}

.poppy img {
  position: absolute;
  width: 16.19797525309336rem;
  height: 17.43532058492688rem;
  left: calc(50% - 8.098987626546682rem);
  top: 11.58605174353206rem;
}

.welcome-ment {
  position: absolute;
  width: 8.25rem;
  height: 3.75rem;
  left: calc(50% - 4.12rem);
  top: 30.87739032620922rem;

  /* font-family: Cafe24 Ssurround air;
font-style: normal;
font-weight: normal; */
  font-size: 1.124859392575928rem;
  line-height: 1.5rem;
  text-align: center;

  color: #000000;
}

.login-btn {
  font-family: "Roboto bold";
  font-weight: bold;
  font-size: 1.012373453318335rem;

  position: absolute;
  width: 20.13498312710911rem;
  height: 3.374578177727784rem;
  left: calc(50% - 10.06749156355456rem);
  top: 38.18897637795276rem;

  /* indego */

  background: #424355;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  line-height: 3.374578177727784rem;
  cursor: pointer;
}

.start-btn {
  font-family: "Roboto bold";
  font-weight: bold;
  font-size: 1.012373453318335rem;

  position: absolute;
  width: 20.13498312710911rem;
  height: 3.374578177727784rem;
  left: calc(50% - 10.06749156355456rem);
  top: 42.51968503937008rem;

  /* indego */

  background: #424355;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  line-height: 3.374578177727784rem;
  cursor: pointer;
}

.join-btn {
  font-family: "Roboto bold";
  font-weight: bold;
  font-size: 1.012373453318335rem;

  position: absolute;
  width: 20.13498312710911rem;
  height: 3.374578177727784rem;
  left: calc(50% - 10.06749156355456rem);
  top: 42.51968503937008rem;

  background: #ffffff;
  color: #424355;
  /* indego */

  border: 2px solid #424355;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  line-height: 3.374578177727784rem;
  cursor: pointer;
}

/* .join-btn:hover {
background: #4243554D;
} */

.join-btn-deco1 {
  position: absolute;
  width: 0.3937007874015748rem;
  height: 0.1124859392575928rem;
  left: 4.21822272215973rem;
  top: 45.78177727784027rem;

  background: #ffffff;
}

.join-btn-deco2 {
  position: absolute;
  width: 0.3937007874015748rem;
  height: 0.1124859392575928rem;
  left: 18.785151856018rem;
  top: 42.51968503937008rem;

  background: #ffffff;
}

.with-kakao {
  position: absolute;
  width: 9.955005624296963rem;
  height: 1.40607424071991rem;
  left: calc(50% - 4.977502812148481rem);
  top: 22.83464566929134rem;

  font-size: 0.9rem;
  text-align: center;
  line-height: 1.40607424071991rem;
}

.KakaobtnImg {
  width: 10.85489313835771rem;
}

/* Join */
.join-ment-big {
  position: absolute;
  width: 10rem;
  height: 2.4375rem;
  left: 2.137232845894263rem;
  top: 7.705286839145107rem;

  /* title */

  font-family: "Cafe24 Ssurround";
  font-style: normal;
  font-weight: bold;
  font-size: 1.687289088863892rem;
  line-height: 2.19347581552306rem;
  letter-spacing: -1.6px;
  /* identical to box height */

  /* indego */

  color: #424355;
}

.join-ment-small {
  position: absolute;
  width: 17.375rem;
  height: 1.5625rem;
  left: 2.137232845894263rem;
  top: 10.34870641169854rem;

  /* text */

  font-style: normal;
  font-weight: normal;
  font-size: 1.012373453318335rem;
  /* font-size: 18px; */
  line-height: 1.40607424071991rem;

  /* indego */

  color: #424355;
}

.join-complete-img {
  position: absolute;
  width: 4.330708661417323rem;
  height: 3.880764904386952rem;
  left: 1.912260967379078rem;
  top: 14.45444319460067rem;
}

.join-complete-ment-big {
  position: absolute;
  width: 10.17997750281215rem;
  height: 1.968503937007874rem;
  left: 2.137232845894263rem;
  top: 20.3037120359955rem;

  font-family: "Cafe24 Ssurround";
  font-size: 1.687289088863892rem;
  line-height: 1.968503937007874rem;

  color: #424355;
}

.join-complete-ment-small {
  position: absolute;
  width: 17.82902137232846rem;
  height: 2.643419572553431rem;
  left: 2.137232845894263rem;
  top: 23.3970753655793rem;

  font-family: "Cafe24 Ssurround air";
  font-size: 1.012373453318335rem;
  line-height: 1.181102362204724rem;

  color: #424355;
}